* {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: sans-serif;
  box-sizing: border-box; 
}

:root {

  --primary-color: rgb(212, 172, 191);
  --secondary-color: rgb(234, 211, 211);
}

.dark-theme {
  --primary-color: rgb(48, 39, 43);
  --secondary-color: rgb(175, 152, 152);
}

body {
  width: 100%;
  background-color: var(--primary-color);
  position: relative;
}

#icon {
  width: 30px;
  cursor: pointer;
}

nav ul {
  flex: 2;
  text-align: right;
}

nav{
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 100%;
  cursor: pointer;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: 0.5s ease;
}

nav ul li a:hover {
  background: gray;
  color: var(--secondary-color);
}

nav ul li.active a{
  background: gray;
  color: var(--secondary-color);
}

.swiper-slide {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 18px;
  padding-left: 100px;
}

.title {
  font-weight: bold;
  font-size: 72px;
  color: var(--secondary-color);
}

.subtitle {
  letter-spacing: 3px;
  font-size: 24px;
  color: var(--secondary-color);
}

.slide-intro {
  background-image: url('./celeste.jpg');
  background-size: cover;
}

.slide-tutoriel {
  background-image: url('./tuto.jpg');
  background-size: cover;
}

.slide-chap6 {
  background-image: url('./chap6.jpg');
  background-size: cover;
}

.slide-chap7 {
  background-image: url('./chap7.jpg');
  background-size: cover;
}

.button {
  position: absolute;
  top: 9.5%;
  left: 93%;
  transform: translate(-50%,-50%);
}

.button a {
  color: rgb(49, 44, 44);
  text-decoration: none;
  border: 0.4px solid;
  padding: 10px 10px;
  transition: 0.5s ease;
}

.button a:hover {
  background: #e2dbdb2f;
  color: var(--secondary-color);
}

.button.active a {
  background: #e2dbdb2f;
  color: var(--secondary-color);
}